.slider{
  display: flex;
  justify-content: center;
  margin-top: 5%;

.left {

  width: 10rem;
  height: 50rem;
  font-size: 1rem;
  transition: all .2s;
  transform: rotateX(0) rotateY(0);
  outline: none;
  border: none;
  background-image: linear-gradient(to right, teal , #003380);
  &:hover{
    cursor: pointer;
    color: red;
    background-color: aqua;
  }
  &:active{
    transform: rotateX(35deg) rotateY(180deg);

  }

}


.right{
  width: 10rem;
  height: 50rem;
  font-size: 1rem;
  transition: all .2s;
  transform: rotateX(0) rotateY(0);
  outline: none;
  border: none;
  background-image: linear-gradient(to left, teal , #003380);
  &:hover{
    cursor: pointer;
    color: red;
    background-color: aqua;
  }
  &:active{
    transform: rotateX(35deg) rotateY(-180deg);

  }

}

  .slider-body{
    display: flex;
    width: 60%;
    justify-content: center;


    .name{
      margin-top: 1%;
      font-size: 5rem;

    }
    .email{
      font-size: 5rem;
      margin-bottom: 1rem;
    }
    .phone{
      font-size: 5rem;
      margin-bottom: 1rem;

    }
    .website{
      font-size: 5rem;
      margin-bottom: 1rem;
    }
    .address{
      margin-bottom: 1rem;

ul{

  li{
list-style: none;
    font-size: 5rem;
    margin-bottom: 1rem;
  }

}
    }


}


}