.resume-block{
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 768px) {
    &__left{
      display: flex;
      width: 100%;
      background-color: #003e79;
      flex-direction: column;
    .wrap-block{
         display: flex;
         width: 100%;
         justify-content: center;

    }

      .u--lists{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        ul{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 3% 0;

          li{
            font-size: 3rem;
            color: aliceblue;
            list-style: none;
            margin-bottom: 1rem;
            a{
              color: aliceblue;
              font-size: 3rem;
              transition: .4s ease;
            }
            i{
              font-size: 3rem;
              margin-right: 1rem;

            }
          }

        }
      }

    }

    &__right{
      width: 100%;
      display: flex;
      flex-direction: column;
      &--top{
        display: flex;
        flex-direction: column;
        height: 50vh;
        .name{

          padding-left: 5rem;
          padding-top: 5rem;
          h1{
            font-size: 3rem;
          }
        }
        .age-loc{
          display: flex;
          padding-left: 8rem;
          padding-top: 5rem;
          width: 100%;
          justify-content: center;
          .location{
            font-size: 3rem;
            i{
              font-size: 3rem;
              margin-right: 1.5rem;

            }
          }
          .age{
            font-size: 3rem;
            i{
              font-size: 2rem;
              margin-right: 1.5rem;
              margin-left: 1rem;
            }

          }
        }

        .photo{
          display: flex;
          justify-content: center;
          border: none;
          height: 50rem;
          width: 100%;
          margin-top: 3rem;
          margin-bottom: 3rem;
          .photo-block{
            width: 50%;
            height: 100%;
            border-radius: 10%;
            background-image: url("../img/imgonline-com-ua-Resize-IEehRDT8OQ.jpg");
            background-position: right 53% bottom 72%;
          }

        }

      }
      .years{
        display: flex;
        align-self: center;
        font-size: 4rem;
      }

      .have-jobs{
        strong{
          font-size: 4rem;
          margin-left: 5%;
        }
        ul{
          margin-left: 5rem;
          transition: .4s ease;

          &:hover{
            cursor: pointer;
          }
          li{
            list-style: none;
            font-size: 3rem;
            margin-bottom: .7rem;
          }

        }
      }
      .hidden-jobs-wrapper--hidden{
        display: none;
      }
      .hidden-jobs-wrapper{
        position: absolute;
        z-index: 12;
        background-image: linear-gradient(to right, teal , #003380);
        width: 100%;

        animation: .4s ease;
        animation-name: scale-up;
        @keyframes scale-up {
          0%{
            transform: scale(0);
          }
          100%{
            transform: scale(1);
          }
        }


        .hidden-jobs{
          position: relative;

          button{
            position: absolute;
            top: 3%;
            right: 2%;
            background-color: red;
            width: 5rem;
            height: 6rem;
            font-size: 5rem;
            color: aliceblue;
            transition: all .4s ease;
            outline: none;
            transform: scale(1);

            &:active{
              transform: scale(0.95);
            }

          }

         .have-jobs{
            strong{
              font-size: 3rem;
            }
            ul{
              margin-left: 5rem;
              li{
                list-style: none;
                font-size: 3rem;
              }
            }
          }
        }

      }
    }
  }

  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
    &__left{
      display: flex;
      width: 100%;
      background-color: #003e79;
      flex-direction: column;
      .u--lists{
        height: 15%;
        ul{
          display: flex;
          flex-direction: column;
          align-items: center;

          li{
            font-size: 3.5rem;
            color: aliceblue;
            list-style: none;
            margin-bottom: 1rem;
            a{
              color: aliceblue;
              font-size: 4rem;
              transition: .4s ease;
            }
            i{
              font-size: 3rem;
              margin-right: 1rem;

            }
          }

        }
      }

    }

    &__right{
      width: 100%;
      display: flex;
      flex-direction: column;
      &--top{
        display: flex;
        flex-direction: column;
        height: 80vh;
        .name{
          padding: 2% 27%;
          h1{
            font-size: 3rem;
          }
        }
        .age-loc{
          display: flex;
          justify-content: center;
          padding: 2% 27%;
          .location{
            font-size: 3rem;
            i{
              font-size: 3rem;
              margin-right: 1.5rem;
              margin-left: 1rem;
            }
          }
          .age{
            font-size: 3rem;
            i{
              font-size: 2rem;
              margin-right: 1.5rem;
              margin-left: 1rem;
            }
          }
        }

        .photo{
          display: flex;
          justify-content: center;
          border: none;
          height: 50rem;
          width: 100%;
          margin-bottom: 3rem;

          .photo-block{
            width: 50%;
            height: 100%;
            border-radius: 10%;
            background-image: url("../img/imgonline-com-ua-Resize-IEehRDT8OQ.jpg");
            background-position: right 53% bottom 72%;
          }

        }

      }
      .years{
        display: flex;
        align-self: center;
        font-size: 4rem;
      }

      .have-jobs{
        strong{
          font-size: 4rem;
          margin-left: 5%;
        }
        ul{
          margin-left: 5rem;
          transition: .4s ease;

          &:hover{
            cursor: pointer;
          }
          li{
            list-style: none;
            font-size: 3rem;
            margin-bottom: .7rem;
          }

        }
      }
      .hidden-jobs-wrapper--hidden{
        display: none;
      }
      .hidden-jobs-wrapper{
        position: absolute;
        z-index: 12;
        background-image: linear-gradient(to right, teal , #003380);
        width: 100%;

        animation: .4s ease;
        animation-name: scale-up;
        @keyframes scale-up {
          0%{
            transform: scale(0);
          }
          100%{
            transform: scale(1);
          }
        }


        .hidden-jobs{
          position: relative;

          button{
            position: absolute;
            top: 3%;
            right: 2%;
            background-color: red;
            width: 5rem;
            height: 6rem;
            font-size: 5rem;
            color: aliceblue;
            transition: all .4s ease;
            outline: none;
            transform: scale(1);

            &:active{
              transform: scale(0.95);
            }

          }

         .have-jobs{
            strong{
              font-size: 3rem;
            }
            ul{
              margin-left: 5rem;
              li{
                list-style: none;
                font-size: 3rem;
              }
            }
          }
        }

      }
    }
  }


  @media only screen
  and (min-width : 1025px) {
    display: flex;
    height: 90vh;
    &__left{
      display: flex;
      width: 30%;
      background-color: #003e79;
      flex-direction: column;
      .u--lists{
          height: 15%;
        ul{
          display: flex;
          flex-direction: column;
          margin-left: 20%;
          margin-top: 3%;

          li{
            font-size: 2rem;
            color: aliceblue;
            list-style: none;
            margin-bottom: .5rem;
            a{
              color: aliceblue;
              font-size: 2rem;
              transition: .4s ease;
              &:hover{
                cursor: pointer;
                color: teal;
                letter-spacing: .2rem;
              }
            }
            i{
              font-size: 2rem;
              margin-right: 1rem;

            }
          }

        }
      }

    }

    &__right{
      width: 70%;
      display: flex;
      flex-direction: column;
      &--top{
        display: flex;
        height: 33.2%;
        .name{
          width: 25%;
          padding-left: 4rem;
          padding-top: 10rem;
          h1{
            font-size: 3rem;
          }
        }
        .age-loc{
          display: flex;
          flex-direction: column;
          width: 25%;
          padding-left: 4rem;
          padding-top: 10rem;
          .location{
            font-size: 3rem;
            i{
              font-size: 2rem;
              margin-right: 1rem;
            }
          }
          .age{
            font-size: 3rem;
            i{
              font-size: 2rem;
              margin-right: 1rem;
            }

          }
        }

        .photo{
          width: 50%;
          display: flex;
          justify-content: center;
          border: none;

          .photo-block{
            width: 30%;
            height: 95%;
            border-radius: 10%;
            background-image: url("../img/imgonline-com-ua-Resize-IEehRDT8OQ.jpg");
            background-position: right 53% bottom 72%;
          }

        }

      }
      .years{
        display: flex;
        align-self: center;
        font-size: 2rem;
      }

      .have-jobs{
        strong{
          font-size: 2rem;
        }
        ul{
          margin-left: 5rem;
          transition: .4s ease;

          &:hover{
            cursor: pointer;
          }
          li{
            list-style: none;
            font-size: 2rem;
            margin-bottom: .7rem;
          }

        }
      }
      .hidden-jobs-wrapper--hidden{
        display: none;
      }
      .hidden-jobs-wrapper{
        position: absolute;
        top: 10%;
        left: 0;
        z-index: 22;
        background-image: linear-gradient(to right, teal , #003380);
        width: 100%;
        height: 90vh;
        animation: .4s ease;
        animation-name: scale-up;
        @keyframes scale-up {
          0%{
            transform: scale(0);
          }
          100%{
            transform: scale(1);
          }
        }


        .hidden-jobs{
          position: relative;

          button{
            position: absolute;
            top: 3%;
            right: 2%;
            background-color: red;
            width: 4rem;
            height: 4rem;
            font-size: 2.5rem;
            color: aliceblue;
            transition: all .4s ease;
            outline: none;
            transform: scale(1);
            &:hover{
              cursor: pointer;
              background-color: brown;
              color: aliceblue;
            }
            &:active{
              transform: scale(0.95);
            }

          }

          .years{
            display: flex;
            margin-left: 42%;
            font-size: 2rem;
          }
          .have-jobs{
            strong{
              font-size: 2rem;
            }
            ul{
              margin-left: 5rem;
              li{
                list-style: none;
                font-size: 1.8rem;

              }

            }
          }



        }


      }
    }





  }

  .wrap-block{
    background-color: #008080;
    height: 3rem;
    font-size: 2rem;
    color: aliceblue;
    text-align: center;
    i{
      font-size: 2rem;
    }

  }
  .isClickable{
    cursor: pointer;
  }

}
