.taskContainer{
  display: flex;
 justify-content: space-between;
  margin-left: -10%;
width: 53%;

  liContainer{
display: flex;

  }
  .buttons{
display: flex;

    .deleteTask{
      width: 7rem;
      height: 3rem;
      margin-right: 1rem;
      background-image: linear-gradient(to right, teal , #003380);
      color: aliceblue;
      transition: .3s ease;
      transform: scale(1);
      &:hover{
        cursor: pointer;
      }
      &:active{
        transform: scale(0.95);
      }
    }

    .makeAsImportant{
      width: 7rem;
      height: 3rem;
      background-image: linear-gradient(to right, teal , #003380);
      color: aliceblue;
      &:hover{
        cursor: pointer;
      }
      &:active{
        transform: scale(0.95);
      }
    }
  }

  .importantTask{
    color: red;
    font-weight: bold;
  }




}




.buttons{
  display: flex;
  justify-content: end;
  align-items: center;

  .deleteTask{
    width: 7rem;
    height: 3rem;
    margin-right: 1rem;
  }

  .makeAsImportant{
    width: 7rem;
    height: 3rem;
  }
}

