.taskContainer{
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 768px) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;


    .liContainer{
      display: flex;
      width: 80%;
    }
    .buttons{
      display: flex;
      margin-left: -50%;
      margin-top: 5%;
      margin-bottom: 5%;
      .deleteTask{
        width: 25rem;
        height: 5rem;
        font-size: 3rem;
        margin-right: 1rem;
        background-image: linear-gradient(to right, teal , #003380);
        color: aliceblue;
        transition: .3s ease;
        transform: scale(1);

      }

      .makeAsImportant{
        width: 25rem;
        height: 5rem;
        font-size: 3rem;
        background-image: linear-gradient(to right, teal , #003380);
        color: aliceblue;

      }
    }

    .importantTask{
      color: red;
      font-weight: bold;
    }

  }

  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;


    .liContainer{
      display: flex;
      width: 80%;
    }
    .buttons{
      display: flex;
      margin-left: -30%;
      margin-top: 5%;
      margin-bottom: 5%;
      .deleteTask{
        width: 25rem;
        height: 5rem;
        font-size: 3rem;
        margin-right: 1rem;
        background-image: linear-gradient(to right, teal , #003380);
        color: aliceblue;
        transition: .3s ease;
        transform: scale(1);
      }

      .makeAsImportant{
        width: 25rem;
        height: 5rem;
        font-size: 3rem;
        background-image: linear-gradient(to right, teal , #003380);
        color: aliceblue;

      }
    }

    .importantTask{
      color: red;
      font-weight: bold;
    }
  }


  @media only screen
  and (min-width : 1025px) {
    display: flex;
    justify-content: space-between;
    margin-left: -10%;
    width: 53%;

    .liContainer{
      display: flex;

    }
    .buttons{
      display: flex;
      .deleteTask{
        width: 10rem;
        height: 3rem;
        font-size: 1.3rem;
        margin-right: 1rem;
        background-image: linear-gradient(to right, teal , #003380);
        color: aliceblue;
        transition: .3s ease;
        transform: scale(1);
        &:hover{
          cursor: pointer;
          background-color: teal;
        }
        &:active{
          transform: scale(0.95);
        }
      }

      .makeAsImportant{
        width: 10rem;
        height: 3rem;
        font-size: 1.3rem;
        background-image: linear-gradient(to right, teal , #003380);
        color: aliceblue;
        &:hover{
          cursor: pointer;
          background-color: teal;
        }
        &:active{
          transform: scale(0.95);
        }
      }
    }

    .importantTask{
      color: red;
      font-weight: bold;
    }
    .buttons{
      display: flex;
      justify-content: end;
      align-items: center;

      .deleteTask{
        width: 7rem;
        height: 3rem;
        margin-right: 1rem;
      }

      .makeAsImportant{
        width: 7rem;
        height: 3rem;
      }
    }
  }




}






