
*{
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 768px) {
    font-size: 5px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Telivigala', cursive;
  }

  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
    font-size: 7px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Telivigala', cursive;

  }

  @media only screen
  and (min-width : 1024px) {
    font-size: 9px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Telivigala', cursive;

  }

}
a{
  text-decoration: none;
}

////General Styles
.dark-theme{
  background-color: black;
  color: white;
  height: 90vh;
  padding-top: 2%;

}
.light-theme{
  background-color: white;
  color: black;
  height: 90vh;
  padding-top: 2%;
}

.b-inactive{
  background-color: red;
}
.b-active{
  background-color: green;
}
.just-b{
  background-image: linear-gradient(to right, teal , #003380);
}

.selected-button{
  background-color: red;
}

::selection{
  background-color: teal;
}
@import "_head";
@import "_todolist";
@import "_tasklist";
@import "_fetch";
@import "_calc";
@import "_app";
@import "_timer";
@import "_404";
@import "_timerList";
@import "_resume";
@import "_messenger";
@import "_table";
